<div class="row">
	<product-info></product-info>
</div>
<div class="row">

<!-- Nav tabs -->
  <ul class="nav nav-tabs">
	<li class="active"><a data-target="#product-reviews-tab" data-toggle="tab">Reviews</a></li>
	<li><a data-target="#similar-products-tab" data-toggle="tab">Similar Products</a></li>
	<li><a data-target="#messages" data-toggle="tab">Messages</a></li>
	<li><a data-target="#settings" data-toggle="tab">Settings</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
	<div class="tab-pane active" id="product-reviews-tab">
		<product-reviews></product-reviews>
	</div>
	<div class="tab-pane fade" id="similar-products-tab">
		<similar-products></similar-products>
	</div>
	<div class="tab-pane fade" id="messages">
	</div>
	<div class="tab-pane fade" id="settings">
	</div>
  </div>
</div>
